
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="register.component.css">
</head>
<body>


<div class="sign-up-form">
  <img src="assets/profile-image.png" alt="icon">
  <h1>Register</h1>
  <form>
    <input type="text" class="input-box" placeholder="first name">
    <input type="text" class="input-box" placeholder="last name">
    <input type="email" class="input-box" placeholder="email">
    <input type="text" class="input-box" placeholder="username">
    <input type="password" class="input-box" placeholder="password">
    <input type="text" class="input-box" placeholder="phone number">
    <input type="text" class="input-box" placeholder="city">

    <button type="button" class="sign-btn">Register</button>

  </form>
</div>




</body>
</html>
