
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
  <link rel="stylesheet" href="sign-in.component.css">
</head>
<body>


<div class="sign-up-form">
  <img src="assets/profile-image.png" alt="icon">
  <h1>Sign In</h1>
  <form>
    <input type="text" class="input-box" placeholder="username">
    <input type="password" class="input-box" placeholder="password">

    <button type="button" class="sign-btn">Sign In</button>

  </form>
</div>




</body>
</html>
