<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animal Renting</title>

  <link rel="stylesheet" href="header.component.css" type="text/css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Aleo:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<header>
  <div>
    <button mat-icon-button color="white" routerLink="/home"> <mat-icon>home</mat-icon> </button>
    <p>PET RENT</p>
    <img src="assets/paws.png" alt="paws">
  </div>
  <input class="search" type="text" placeholder="Search for a pet">
  <div>
    <ul>
      <li>
        <a href="#">Log In</a>
      </li>
      <li>
        <a routerLink="/sign-up" routerLinkActive="active">Sign Up</a>
      </li>
      <li>
        <a routerLink="/post-animal" routerLinkActive="active">Post Animal</a>
      </li>
    </ul>
  </div>
</header>



</body>
</html>
