 <mat-toolbar color="warn">
    <button mat-icon-button class="example-icon" aria-label="home icon">
      <mat-icon>home</mat-icon>
    </button>
    <div class="nav-bar">
      <span>Home</span>
      <ul>
          <li><a href="#categories">Categories</a></li>
          <li><a href="#owners">Owners</a></li>
          <li><a href="#about">About</a></li>
      </ul>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="icon that leads to the favorited animals">
      <mat-icon>favorite</mat-icon>
    </button>
  </mat-toolbar>

<div class="second-bar">
  <p>
    <mat-toolbar color="accent">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>pets</mat-icon>
      </button>
  <span>Animal Renting</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="profile">
    <mat-icon>person</mat-icon>
  </button>
  <button class="sign">Sign In</button>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="register">
        <mat-icon>check_circle_outline</mat-icon>
      </button>
  <button class="sign">Register</button>
  </mat-toolbar>
</div>



