*{
  margin: 0;
}

body{
  font-family: Aleo, serif;
}

header{
  background: #ff7575;
  display: flex;
  justify-content: space-around;
  align-content: center;
  height: 70px;
}

header div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-icon {
  margin-right: 20px;
}

header div p{
  font-weight: bold;
  font-size: 35px;
}

header img{
  margin-left: 5px;
  height: 40px;
  width: 65px;
}

ul li{
  display: inline;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

ul li a{
  text-decoration: none;
  font-size: 13px;
  padding: 9px;
  font-weight: bold;
  color: antiquewhite;
  border-radius: 9px;
}

ul li a:hover{
  color: white;
  border: 1px solid white;
}





