<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="container">
    <h1>Animal</h1>


    <mat-form-field appearance="fill">
      <mat-label>Textarea</mat-label>
      <textarea [formControlName]="animalProperty.age" matInput></textarea>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Animal Type</mat-label>
      <mat-select [formControlName]="animalProperty.animalType">
        <mat-select-trigger class="select-trigger-w-icon">
          <ng-container *ngIf="animalType">
            <mat-icon [style.color]="animalType.color">diamond</mat-icon>
            {{animalType.label}}
          </ng-container>
        </mat-select-trigger>
        <mat-option *ngFor="let animalType of animalTypes" [value]="animalType.value">
          {{animalType.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select [formControlName]="animalProperty.gender">
        <mat-select-trigger class="select-trigger-w-icon">
          <ng-container *ngIf="gender">
            {{gender.label}}
          </ng-container>
        </mat-select-trigger>
        <mat-option *ngFor="let gender of genders" [value]="gender.value">
          {{gender.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox [formControlName]="animalProperty.isVaccinated"

                  color="primary">Vaccinated</mat-checkbox>

    <button type="submit"
            mat-flat-button
            color="primary">Save
    </button>
  </div>
</form>
