.container {
  border: 1px solid lightblue;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 600px;
}

.select-trigger-w-icon {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
