<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color:white;">Animal Posting</h1>
    <div class="d-flex">
      <button class="btn btn-lg btn-outline-primary" >Add Animal</button>

      <button
        type="button"
        data-toggle="modal"
        data-target="#exampleModal"
        class="btn btn-success"
        routerLink="post-animal">
        Post New Animal
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Age</th>
      <th scope="col">Price</th>
      <th scope="col">Short Description</th>
      <th scope="col">Long Description</th>
      <th scope="col">Animal Type</th>
      <th scope="col">Gender</th>
      <th scope="col">Vaccinated</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let animal of animals">
      <td>{{animal.age}}</td>
      <td>{{animal.price}}</td>
      <td>{{animal.shortDescription}}</td>
      <td>{{animal.longDescription}}</td>
      <td>{{animal.animalType}}</td>
      <td>{{animal.gender}}</td>
      <td>{{animal.isVaccinated}}</td>
      <td>
        <button class="btn btn-success" (click)="update(animal)">Edit</button>
        <button class="btn btn-danger mx-3" (click)="remove(animal)" >Delete</button>
        <button class="btn btn-primary"  >View</button>

      </td>
    </tr>
  </tbody>
</table>



