<nav class="navbar navbar-light bg-primary">
  <div class="container-fluid">
    <h1 style="color:white;">Animal Posting</h1>
    <div class="d-flex">
      <button class="btn btn-lg btn-outline-primary" >Add Animal</button>

      <button type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-success">Add User</button>
    </div>
  </div>
</nav>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Animal ID</th>
      <th scope="col">Animal Name</th>
      <th scope="col">Breed</th>
      <th scope="col">Gender</th>
      <th scope="col">Age</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
      <th scope="col">Short Description</th>
      <th scope="col">Long Description</th>
      <th scope="col">Date Posted</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Ruby</td>
      <td>Meine coon</td>
      <td>male</td>
      <td>3 months</td>
      <td>12KM/day</td>
      <td>ruby.jpeg</td>
      <td>Very friendly cat</td>
      <td>Breeding cats has been my hoby for 2 years</td>
      <td>15/02/2022</td>
      <td>
        <button class="btn btn-info">Edit</button>
        <button class="btn btn-danger mx-3" >Delete</button>
      </td>
    </tr>
    <tr>
      <td>2</td>
      <td>Henry</td>
      <td>German shepherd</td>
      <td>male</td>
      <td>7 months</td>
      <td>20KM/day</td>
      <td>henry.jpeg</td>
      <td>trained dog</td>
      <td>A very friendly and obedient dog</td>
      <td>22/03/2022</td>
      <td>
        <button class="btn btn-info">Edit</button>
        <button class="btn btn-danger mx-3">Delete</button>
      </td>
    </tr>
    <tr>
      <td>3</td>
      <td>Riri</td>
      <td>Canary</td>
      <td>female</td>
      <td>8 months</td>
      <td>8KM/day</td>
      <td>riri.jpeg</td>
      <td>Cute and playfull bird</td>
      <td>Friendly with kids</td>
      <td>7/02/2022</td>
      <td>
        <button class="btn btn-info">Edit</button>
        <button class="btn btn-danger mx-3">Delete</button>
      </td>
    </tr>
  </tbody>
</table>


