body {
  margin: 0;
  padding: 0;
}

.sign-in-form {
  width: 350px;
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  background: #fff;
  padding: 20px;
  margin: 8% auto 0;
  text-align: center;
}

.sign-in-form input {
  margin-bottom: 5px;
}

.sign-in-form .sign-btn {
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign-in-form h1 {
  color: #ff8786;
  margin-bottom: 30px;
}

.sign-in-form .input-box {
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0px;
  width: 100%;
  border: 1px solid #999;
  outline: none;
}
.sign-in-form button {
  background: #ff8786;
  color: #fff;
  width: 80%;
  border-radius: 20px;
  font-size: 20px;
  margin: 10px 0;
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  width: 70px;
  margin-top: -50px;
}

