<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="login.component.css">
</head>
<body>

<div class="sign-in-form">
  <img src="assets/profile-image.png" alt="icon">
  <h1>Login</h1>
  <form (submit)="handleFormSubmit()" [formGroup]="form!">
    <input type="text" class="input-box" placeholder="username">
    <input type="password" class="input-box" placeholder="password">

    <button type="button" class="sign-btn" type="submit">Login</button>
    <p>Don't have an account ? <a href="#" routerLink="/register">Register</a></p>
  </form>
</div>

</body>
</html>

